@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary: rgb(58, 84, 180)
}

.text-center {
    text-align: center;
}

.content {
    color: #303030
}

.highlight {
    font-family: 'eb garamond', serif;
    font-style: normal;
}
.large {
    font-size: 48px;
    font-weight: 300;
}
.image-container {
    background-size: cover;
    background-position: center;
}
.image-container img {
    width: 100%;
}
table {
    width: 100%;
}
table th {
    border-bottom: 2px solid var(--primary);
}
table th, table td{
    text-align: left;
    height: 60px;
}

/*
    Menu
*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(192, 192, 192);
    position: sticky;
    top: 0;
    z-index: 2;
}
.container {
    width: 980px;
    margin: auto;
    display: block;
}
.menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.item {
    padding: 1px 10px;
}
.menu a .item{
    position: relative;
}
.menu a.active .item {
    color: var(--primary);
}
.menu a:hover .item {
    color: var(--primary);
    opacity: 0.7;
}
.menu a:hover .item::before, .menu a.active .item::before {
    width: calc(100% - 20px);
    height: 5px;
    position: absolute;
    top: -5px;
    background-color: var(--primary);
    content: "";
}
.submenu-container {
    position: relative;
}
.submenu-container:hover .submenu {
    visibility: visible;
}
.submenu {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    visibility: hidden;
}
.submenu p{
    text-align: center;
}
/*
    Footer
*/
footer{
    background-color: #606060;
    color: #fff;
    padding: 100px 0;
}

footer .container {
    display: flex;
}
footer h2 {
    font: normal normal normal 24px/1.4em 'eb garamond',serif;
}
.about-us {
    padding: 0 80px;
    width: 50%;
}
.about-us a{
    text-decoration: underline;
}
.register {
    padding: 0 80px;
    width: 50%;
}

footer form{
    display: flex;
    flex-direction: column;
}

footer form .form-group{
    display: flex;
    flex-direction: column;
}

footer form input, footer form textarea {
    background-color: transparent;
    padding: 16px 8px;
    border: 1px solid #fff;
    margin: 8px 0;
    color: #fff
}
footer form input::placeholder, footer form textarea::placeholder {
    color: rgba(255,255,255,0.3)
}
footer button {
    background-color: var(--primary);
    margin: 8px 0;
    padding: 12px 0;
    color: #fff;
}

/*
    Home
*/

.jumbotron {
    width: 100%;
    height: 500px;
    background-image: url('https://static.wixstatic.com/media/0c505f_3db0198c670f4c68bf2fd152963e7997~mv2.jpg/v1/fill/w_2480,h_861,al_c,q_90/0c505f_3db0198c670f4c68bf2fd152963e7997~mv2.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.jumbotron::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.4);
    content: "";
}
.welcome{
    color: #fff;
    text-align: center;
    z-index: 1;
}
.welcome p {
    font-size: 1.2rem;
}
.welcome h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/*
    Sobre Nosotros
*/

.sobre-nosotros {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.sobre-nosotros > div{
    width: 45%;
    margin: 50px 0;
}
.sobre-nosotros h1{
    font: normal normal normal 36px/1.4em 'eb garamond',serif;
}
.sobre-nosotros img{
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

/*
    Vacunas
*/

.vacunas-list {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.vacuna {
    display: flex;
    font-display: row;
    gap: 24px;
}
.vacuna .image-container {
    width: 35%;
}
.vacuna.right {
    text-align: right;
    flex-direction: row-reverse;
}
.vacuna .image-container img{
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}


/*
    Volantes
*/

.volantes-list {
    width: 60%;
    margin: 40px 20%;
}
.volante .image-container img{
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

/*
    Registro
*/

.registro .form-row {
    display: flex;
    font-display: row;
    margin-top: 80px;
}
.registro .form-row .image-container{
    width: 50%;
}
.registro .form-row .form-container{
    width: 50%;
    background-color: #c9c9c9;
    padding: 80px 160px;
}
.registro .form-row .form-container form{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.registro .form-row .form-container form .form-group{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.registro .form-row .form-container form .form-group .field{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.registro .form-row .form-container form .form-group .field input{
    background-color: transparent;
    padding: 8px 16px;
    border-bottom: 1px solid var(--primary);
}
.registro .form-row .form-container form .form-group .field textarea{
    background-color: transparent;
    padding: 8px 16px;
    border-bottom: 1px solid var(--primary);
    height: 100px;
}
.registro .form-row .form-container form button{
    background-color: var(--primary);
    padding: 12px 0px;
    color: #fff;
    text-transform: uppercase;
}
.registro #map {
    height: 350px;
}

/*
    Sintomas
*/
.sintomas-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 40px 0;
}
.sintoma {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

/*
    Medidas preventivas
*/
.medidas-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 40px 0;
}
.medida {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

/*
    Familiares
*/
.pasos-list {
    margin: 80px 0;
}
.paso {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-top: 80px;
}

